@import url(https://fonts.googleapis.com/css?family=Lobster);
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.active {
    display: block;
}

body {
    background: #B3FFAB;
    background: -webkit-linear-gradient(to left, #B3FFAB, #8efaf6);
    background: linear-gradient(to left, #B3FFAB, #8efaf6);
}

body h1,
h2,
h3,
h4,
h5,
p,
a,
input {
    font-weight: 200;
}

.button {
    display: inline-block;
    padding: 7px 12px;
    border: none;
    border-radius: 7px;
    background-color: #42dfc3;
    color: white;
    text-decoration: none;
    font-size: .9;
    cursor: pointer;
}

button a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.button:hover {
    background-color: #51b09f;
}

.button:active {
    box-shadow: 0 0 white;
}

.button[disable] {
    visibility='hidden';
}

.btn-margin-top {
    margin-top: 18px;
}

.btn-solution {
    margin-left: -26px;
}

.container {
    padding-bottom: 120px;
}

.description {
    margin: auto;
    margin-top: 100px;
    min-width: 300px;
    width: 40%;
    padding: 15px 15px 1px 15px;
    text-align: center;
}

.description h4 {
    margin-bottom: 50px;
    color: black;
}

.error-message {
    font-size: .8;
    opacity: 0.6;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 19px 25px 19px 25px;
    width: 100%;
    height: 100px;
    text-align: right;
    font-size: 0.8em;
    opacity: .6;
}

footer ul {
    list-style-type: none;
}

footer a {
    font-weight: 400;
}

footer a:link {
    color: dimgray;
    text-decoration: none;
}

footer a:visited {
    color: dimgray;
    text-decoration: none;
}

footer a:hover {
    color: darkgray;
    text-decoration: none;
}

footer a:active {
    color: darkgray;
    text-decoration: none;
}

form h2 {
    margin-bottom: 0;
}

form hr {
    clear: both;
}

form input[type="text"]:disabled {
    border: 1px solid rgba(0, 255, 68, 1);
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 255, 68, 0.6);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0, 255, 68, 0.6);
    box-shadow: 0px 0px 8px -1px rgba(0, 255, 68, 0.6);
}

form input.ng-invalid:not(.ng-pristine) {
    border: 1px solid red;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(255, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 8px -1px rgba(255, 0, 0, 0.6);
    box-shadow: 0px 0px 8px -1px rgba(255, 0, 0, 0.6);
}

.green {
    color: #1d9f88;
}

.form-control {
    margin: 0;
    margin: auto;
    width: 100%;
}

header {
    padding-top: 10px;
    height: 150px;
    text-align: center;
    font-family: Lobster, Helvetica;
}

header h1 {
    font-size: 4em;
    color: black;
    text-decoration: none;
}

.hr-title {
    margin-top: 0;
    margin-bottom: 20px;
    width: 40%;
}

.hr-end {
    margin-bottom: 40px;
    width: 95%;
}

.inactive {
    display: none;
}

.mini-input {
    width: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
}

.navigation-side {
    margin-top: 0px;
    min-height: 140px;
    clear: both;
}

.navigation-side ul {
    min-height: 35px;
}

.score {
    opacity: .8;
    padding-bottom: 20px;
}

.special-characters {
    padding-top: 10px;
    font-size: .88em;
    opacity: .7;
}

.verb {
    margin-top: 60px;
    padding: 15px 15px 1px 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 120px -1px rgba(255, 255, 255, .8);
    -moz-box-shadow: 0px 0px 120px -1px rgba(255, 255, 255, .8);
    box-shadow: 0px 0px 120px -1px rgba(255, 255, 255, .8);
    text-align: center;
}

.verb h4 {
    margin-bottom: 15px;
    opacity: .7;
}

.verbcolumn {
    padding: 10px 0 20px 0;
    text-align: center;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.verbs_row {
    height: 90px;
}