<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Lernen Verben auf Deutsch!</title>
    
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="js/main.js"></script>

</head>

<body ng-controller="myController">

    <div class="container">
        <div ng-repeat="verb in verbs">
            <form name="form" novalidate>

                <div class="col-md-2 col-sm-6 col-xs-12 verbcolumn">
                    <h4>{{verb[0]}}</h4>
                    <!-- <input type="text" name="infinitiv" ng-model="infinitiv" wj-validation-error="infinitiv != verb[0] ? 'Incorrect! Try again' : ''"/>
                    <span class="error-message" ng-show="form.$submitted">
                        <b>Lösung: </b> {{verb[0]}}
                    </span>-->
                </div>

                <div class="col-md-2 col-sm-6 col-xs-12 verbcolumn">
                    <input type="text" class="form-control" ng-model="prateritum" wj-validation-error="prateritum != verb[1] ? 'Incorrect! Try again' : ''" placeholder="Präteritum"/>
                    <span class="error-message" ng-show="form.$submitted">
                        <b>Lösung: </b> {{verb[1]}}
                    </span>
                </div>

                <div class="col-md-2 col-sm-6 col-xs-12 verbcolumn">
                    <input type="text" class="form-control" ng-model="partizip" wj-validation-error="partizip != verb[2] ? 'Incorrect! Try again' : ''" placeholder="Partizip Perfekt"/>
                    <span class="error-message" ng-show="form.$submitted">
                        <b>Lösung: </b> {{verb[2]}}
                    </span>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 verbcolumn">
                    <input type="text" class="form-control" ng-model="englisch" wj-validation-error="englisch != verb[3] ? 'Incorrect! Try again' : ''" placeholder="Englisch Infinitiv"/>
                    <span class="error-message" ng-show="form.$submitted">
                        <b>Lösung: </b> {{verb[3]}}
                    </span>
                </div>

                <div class="col-md-2 col-sm-12 col-xs-12 verbcolumn">
                    <button type="submit" class="btn btn-success">Lösungen</button>
                </div>
                <hr style="clear:both">
            </form>
        </div>
        <br>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>