<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lernen Verben auf Deutsch!</title>

    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="js/main.js"></script>
    
    <script type="text/javascript">

</script>

</head>

<body ng-controller="myController">

    <div class="wrapper">

        <header>
            <h1>Lernen Verben auf Deutsch!</h1>
            <p>Learning platform for the study of German verbs</p>
        </header>

        <div class="container">

            <div class="verb">
                <h3>Fülle die Lücken aus!</h3>
                <hr class="hr-title">

                <div ng-class="{active: activePage.page == $index, 
    inactive: activePage.page != $index}" ng-repeat="verb in verbs">

                    <form name="form" novalidate>

                        <div class="col-md-2 col-sm-12 col-xs-12 verbcolumn">
                            
                            <h4>{{verb[0]}}</h4>
                            <!-- <input type="text" name="infinitiv" ng-model="infinitiv" wj-validation-error="infinitiv != verb[0] ? 'Incorrect! Try again' : ''"/>
                    <span class="error-message" ng-show="form.$submitted">
                        <b>Lösung: </b> {{verb[0]}}
                    </span>-->
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12 verbcolumn">
                            <input type="text" class="form-control" ng-model="prateritum" wj-validation-error="prateritum != verb[1] ? 'Incorrect! Try again' : ''" placeholder="Präteritum" />
                            <span class="error-message" ng-show="form.$submitted">
                        <b>Lösung: </b> {{verb[1]}}
                    </span>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12 verbcolumn">
                            <input type="text" class="form-control" ng-model="partizip" wj-validation-error="partizip != verb[2] ? 'Incorrect! Try again' : ''" placeholder="Partizip Perfekt" />
                            <span class="error-message" ng-show="form.$submitted">
                        <b>Lösung: </b> {{verb[2]}}
                    </span>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 verbcolumn">
                            <input type="text" class="form-control" ng-model="englisch" wj-validation-error="englisch != verb[3] ? 'Incorrect! Try again' : ''" placeholder="Englisch Infinitiv" />
                            <span class="error-message" ng-show="form.$submitted">
                        <b>Lösung: </b> {{verb[3]}}
                    </span>
                        </div>

                        <div class="col-md-2 col-sm-12 col-xs-12 verbcolumn">
                            <button type="submit" class="button" name="submit" onclick="this.style.visibility='hidden';" ondblclick="this.style.visibility='hidden';">Lösungen</button>
                        </div>
                        <hr>

                        <ul class="pager">
                            <li class="previous"><a ng-show="pages[$index - 1]" ng-click="activePage.page = $index-1" href="#.">Previous</a></li>
                            <li class="next"><a ng-show="pages[$index + 1]" ng-click="activePage.page = $index+1" href="#.">Next</a> </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>

        <footer>
            <ul>
                
            <li>Francisco José Caballero Cerezo</li>
                <li>Software Developer</li>
                <li><a href="http://francaballero.net">francaballero.net</a></li>
                <li><a href="mailto:info@francaballero.net">info@francaballero.net</a></li>
            </ul>
        </footer>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>

</html>