<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lernen Verben auf Deutsch!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="js/main.js"></script>

</head>

<body data-ng-controller="myController">

    <div class="wrapper">

        <header>
            <a href="index.html">
                <h1>Lernen Verben auf Deutsch!</h1>
                <p>Learning platform for the study of German verbs</p>
            </a>
        </header>

        <div class="container">

            <div class="description" data-ng-show="!start">
                <h4>Learn the german verbs by writing the past tense, the participle and the translation of given verbs!</h4>
                <button class="button" name="start" data-ng-click="startFunction()">Start</button>
            </div>

            <div class="verb" data-ng-show="start">
                <h3>Fülle die Lücken aus!</h3>

                <div data-ng-class="{active: activePage.page == $index, 
    inactive: activePage.page != $index}" data-ng-repeat="verb in verbs">

                    <form name="form" novalidate>

                        <div class="col-md-12 col-sm-12 col-xs-12 verbcolumn">
                            <h4>{{verb[0]}}</h4>
                            <hr class="hr-title">
                            <!-- <input type="text" name="infinitiv" data-ng-model="infinitiv" wj-validation-error="infinitiv != verb[0] ? 'Incorrect! Try again' : ''"/>
                    <span class="error-message" data-ng-show="form.$submitted">
                        <b>Lösung: </b> {{verb[0]}}
                    </span>-->
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 verbcolumn">
                            <input type="text" class="form-control" data-ng-model="prateritum" name="prateritum" data-wj-validation-error="prateritum != verb[1] ? 'Incorrect! Try again' : ''" placeholder="Präteritum" data-ng-blur="addScorePrateritum(form)" data-ng-disabled="form.prateritum.$valid" data-lowercase/>
                            <span class="error-message" data-ng-show="form.$submitted">
                            <span class="losung">Lösung</span>: {{verb[1]}}
                            </span>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 verbcolumn">
                            <input type="text" class="form-control" data-ng-model="partizip" name="partizip" data-wj-validation-error="partizip != verb[2] ? 'Incorrect! Try again' : ''" placeholder="Partizip Perfekt" data-ng-blur="addScorePartizip(form)" data-ng-disabled="form.partizip.$valid" data-lowercase/>
                            <span class="error-message" data-ng-show="form.$submitted">
                        <span class="losung">Lösung: </span> {{verb[2]}}
                            </span>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 verbcolumn">
                            <input type="text" class="form-control" data-ng-model="englisch" name="englisch" data-wj-validation-error="englisch != verb[3] ? 'Incorrect! Try again' : ''" placeholder="Englisch Übersetzung" data-ng-blur="addScoreEnglisch(form)" data-ng-disabled="form.englisch.$valid" data-lowercase/>
                            <span class="error-message" data-ng-show="form.$submitted">
                        <span class="losung">Lösung: </span> {{verb[3]}}
                            </span>
                        </div>
                        <span class="top-buffer"></span>
                        <div class="col-md-4 col-sm-4 col-xs-12 verbcolumn score">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 verbcolumn">
                            <button type="submit" class="button" name="submit" onclick="this.style.visibility='hidden';">Lösungen</button>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 verbcolumn score">
                            <b>Score: </b> {{score}}
                            <div class="special-characters">
                                <b>Special characters:</b> &nbsp;
                                <input value="ß" class="mini-input">
                                <input value="ä" class="mini-input">
                                <input value="ö" class="mini-input">
                                <input value="ü" class="mini-input">
                            </div>
                        </div>
                        <hr>

                        <ul class="pager">
                            <li class="previous"><a data-ng-show="pages[$index - 1]" data-ng-click="activePage.page = $index-1" href="#.">Previous</a></li>
                            <li class="next"><a data-ng-show="pages[$index + 1]" data-ng-click="activePage.page = $index+1" href="#.">Next</a> </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>

        <footer>
            <ul>

                <li>Francisco José Caballero Cerezo</li>
                <li>Software Developer</li>
                <li><a href="http://francaballero.net">francaballero.net</a></li>
                <li><a href="mailto:info@francaballero.net">info@francaballero.net</a></li>
            </ul>
        </footer>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>

</html>